In [1]:
import numpy as np
import pandas as pd
import openpyxl
import statsmodels.api as sm
import datetime
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

年度のデータフレーム準備

In [2]:
years = list(range(2000, 2021))
year_df = pd.DataFrame(years)
year_df.rename(columns={0: '年度'}, inplace=True)
year_df

      年度
0   2000
1   2001
2   2002
3   2003
4   2004
5   2005
6   2006
7   2007
8   2008
9   2009
10  2010
11  2011
12  2012
13  2013
14  2014
15  2015
16  2016
17  2017
18  2018
19  2019
20  2020

人口関係のデータフレーム準備

In [56]:
Population_df = pd.DataFrame()

for i in range(2, 23):
    tmp_df = pd.DataFrame()
    tmp_df = pd.read_excel('FEI_PREF_230721113206.xlsx', 
                        skiprows=5, nrows=1, sheet_name=str(i), 
                        names=['地域コード', '地域', '', '総人口', '', '総人口（男）', '', '_総人口（女）', '', '出生数', '', '出生数（男）', '', '出生数（女）', ''])
    Population_df =  pd.concat([Population_df, tmp_df], ignore_index=True)

columns_to_keep = ['出生数', '出生数（男）', '出生数（女）']
Population_df = Population_df.drop(columns=[col for col in Population_df.columns if col not in columns_to_keep])
Population_df = Population_df.iloc[::-1]  # インデックスを逆順にする
Population_df.reset_index(drop=True, inplace=True)
Population_df['年度'] = pd.DataFrame(list(range(2000, 2021)))

Population_df

       出生数  出生数（男）  出生数（女）    年度
0   66,376  34,067  32,309  2000
1   65,417  33,548  31,869  2001
2   64,762  33,281  31,481  2002
3   63,224  32,365  30,859  2003
4   61,946  31,840  30,106  2004
5   59,731  30,629  29,102  2005
6   61,201  31,335  29,866  2006
7   60,818  31,261  29,557  2007
8   60,520  30,935  29,585  2008
9   59,725  30,754  28,971  2009
10  59,437  30,805  28,632  2010
11  58,059  29,918  28,141  2011
12  56,943  29,155  27,788  2012
13  57,470  29,418  28,052  2013
14  55,765  28,703  27,062  2014
15  56,077  28,740  27,337  2015
16  54,447  28,111  26,336  2016
17  53,069  27,008  26,061  2017
18  51,241  26,296  24,945  2018
19  48,298  24,799  23,499  2019
20  47,328  24,137  23,191  2020

就業率のデータフレーム準備

In [57]:
ages = ['15歳以上', '15～64歳', '15～24歳', '15～19歳', '20～24歳', '25～34歳', '25～29歳', '30～34歳', '35～44歳', '35～39歳', '40～44歳', '45～54歳', '45～49歳', '50～54歳', '55～64歳', '55～59歳', '60～64歳', '65歳以上']
#def multiply_specific_column(df, column_name, multiplier):
#    df[column_name] = df[column_name].apply(lambda x: x * multiplier)

In [58]:
rows_to_read_1 = 23
Employment_woman_df = pd.read_excel('FEH_00200531_230720133248.xlsx', 
                         skiprows=14, nrows=rows_to_read_1, 
                         names=['時間軸コード', '年度', '', '15歳以上', '15～64歳', '15～24歳', '15～19歳', '20～24歳', '25～34歳', '25～29歳', '30～34歳', '35～44歳', '35～39歳', '40～44歳', '45～54歳', '45～49歳', '50～54歳', '55～64歳', '55～59歳', '60～64歳', '65歳以上'])

Employment_woman_df.reset_index(drop=True, inplace=True)
Employment_woman_df['年度'] = Employment_woman_df['年度'].str.replace('年', '').astype('int64')
#multiply_specific_column(Employment_woman_df, ages, 10000)

Employment_woman_df

c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,時間軸コード,年度,,15歳以上,15～64歳,15～24歳,15～19歳,20～24歳,25～34歳,25～29歳,...,35～44歳,35～39歳,40～44歳,45～54歳,45～49歳,50～54歳,55～64歳,55～59歳,60～64歳,65歳以上
0,2000000000,2000,NaN,661,***,88,15,73,162,95,...,114,56,58,159,72,87,103,66,37,35
1,2001000000,2001,NaN,671,***,84,16,68,170,97,...,119,60,59,159,69,90,102,64,38,36
2,2002000000,2002,NaN,677,***,86,14,71,169,92,...,124,63,61,154,67,87,106,65,42,38
3,2003000000,2003,NaN,680,***,81,15,66,169,91,...,128,65,62,149,65,84,113,70,43,40
4,2004000000,2004,NaN,689,***,79,14,65,174,91,...,134,68,67,141,65,76,120,73,47,41
5,2005000000,2005,NaN,692,***,78,16,63,169,88,...,142,71,71,138,66,72,122,75,47,42
6,2006000000,2006,NaN,699,***,77,16,61,168,87,...,149,76,73,136,68,68,124,79,45,45
7,2007000000,2007,NaN,714,***,78,14,64,164,83,...,159,81,78,140,72,68,126,78,48,48
8,2008000000,2008,NaN,720,***,78,14,64,163,83,...,165,85,79,139,73,67,125,73,52,50
9,2009000000,2009,NaN,718,666,75,16,59,160,82,...,167,86,82,140,73,67,122,69,53,53
10,2010000000,2010,NaN,721,665,70,15,55,158,82,...,170,86,84,143,77,66,124,66,58,56
11,2011000000,2011,NaN,722,665,66,14,52,155,81,...,174,87,87,146,79,67,125,63,61,57
12,2012000000,2012,NaN,743,683,70,12,59,157,81,...,180,86,94,153,84,69,122,62,60,60
13,2013000000,2013,NaN,763,699,73,14,60,158,80,...,185,86,99,162,88,73,120,63,58,65
14,2014000000,2014,NaN,779,710,74,15,60,159,81,...,188,87,102,171,93,78,118,63,55,69
15,2015000000,2015,NaN,793,717,74,15,59,158,80,...,188,84,104,180,97,83,117,64,54,76
16,2016000000,2016,NaN,811,730,77,16,61,162,82,...,185,82,103,188,103,85,118,66,52,81
17,2017000000,2017,NaN,834,751,82,16,66,162,81,...,186,83,103,198,109,89,122,69,54,84
18,2018000000,2018,NaN,868,778,92,19,73,166,83,...,188,83,105,208,112,95,125,72,53,90
19,2019000000,2019,NaN,892,802,95,20,75,168,87,...,187,85,102,218,116,102,134,77,57,90
20,2020000000,2020,NaN,889,797,93,18,75,169,90,...,180,84,96,218,115,103,136,80,56,93
21,2021000000,2021,NaN,898,803,92,18,74,175,94,...,179,85,94,220,113,107,137,81,56,95
22,2022000000,2022,NaN,920,826,92,19,73,180,97,...,182,86,96,226,113,113,146,85,61,93

In [59]:
rows_to_read_2 = 23
Employment_man_df = pd.read_excel('FEH_00200531_230720133159.xlsx', 
                         skiprows=14, nrows=rows_to_read_2, 
                         names=['時間軸コード', '年度', '', '15歳以上', '15～64歳', '15～24歳', '15～19歳', '20～24歳', '25～34歳', '25～29歳', '30～34歳', '35～44歳', '35～39歳', '40～44歳', '45～54歳', '45～49歳', '50～54歳', '55～64歳', '55～59歳', '60～64歳', '65歳以上'])

Employment_man_df.reset_index(drop=True, inplace=True)
Employment_man_df['年度'] = Employment_man_df['年度'].str.replace('年', '').astype('int64')
#multiply_specific_column(Employment_man_df, ages, 10000)

Employment_man_df

c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,時間軸コード,年度,,15歳以上,15～64歳,15～24歳,15～19歳,20～24歳,25～34歳,25～29歳,...,35～44歳,35～39歳,40～44歳,45～54歳,45～49歳,50～54歳,55～64歳,55～59歳,60～64歳,65歳以上
0,2000000000,2000,NaN,1072,***,92,18,75,278,144,...,216,116,100,240,110,130,178,111,67,67
1,2001000000,2001,NaN,1065,***,84,16,68,282,142,...,218,117,101,240,104,136,174,104,69,68
2,2002000000,2002,NaN,1063,***,91,16,76,270,130,...,223,121,103,229,100,129,177,106,71,72
3,2003000000,2003,NaN,1068,***,87,16,71,270,127,...,232,125,106,219,97,121,185,111,74,74
4,2004000000,2004,NaN,1067,***,80,15,65,267,122,...,239,130,109,210,97,113,195,115,80,77
5,2005000000,2005,NaN,1068,***,77,16,62,262,119,...,245,131,114,204,98,106,199,121,77,80
6,2006000000,2006,NaN,1071,***,75,16,58,257,117,...,255,137,117,200,99,101,202,127,75,83
7,2007000000,2007,NaN,1102,***,85,15,70,248,110,...,266,143,124,203,104,99,210,125,84,90
8,2008000000,2008,NaN,1100,***,81,15,66,241,109,...,274,145,129,204,107,97,206,116,90,94
9,2009000000,2009,NaN,1080,982,72,13,59,229,105,...,276,145,131,206,109,97,198,107,91,98
10,2010000000,2010,NaN,1070,971,65,12,53,222,103,...,276,144,133,211,114,97,197,101,96,98
11,2011000000,2011,NaN,1071,971,63,11,51,219,103,...,279,140,138,215,117,98,196,96,100,101
12,2012000000,2012,NaN,1087,984,71,12,59,218,101,...,284,139,144,222,121,101,189,92,97,103
13,2013000000,2013,NaN,1085,977,72,13,59,212,98,...,282,135,146,230,126,104,181,90,91,108
14,2014000000,2014,NaN,1097,981,73,14,59,211,99,...,279,131,148,239,131,108,178,92,86,115
15,2015000000,2015,NaN,1101,981,73,14,58,210,98,...,275,126,148,247,134,113,177,93,84,121
16,2016000000,2016,NaN,1111,985,76,16,60,211,101,...,268,122,147,254,140,114,175,95,80,126
17,2017000000,2017,NaN,1126,994,83,15,68,204,95,...,263,120,143,266,145,120,178,98,80,132
18,2018000000,2018,NaN,1147,1009,91,17,74,204,97,...,257,119,138,275,148,126,182,102,81,138
19,2019000000,2019,NaN,1160,1016,94,18,76,206,101,...,251,117,134,280,149,131,185,104,81,143
20,2020000000,2020,NaN,1151,1007,88,15,73,206,104,...,243,115,128,281,147,133,189,108,81,143
21,2021000000,2021,NaN,1145,1002,86,15,72,209,108,...,235,112,123,280,143,137,192,110,82,143
22,2022000000,2022,NaN,1157,1013,85,16,70,207,105,...,234,112,122,285,142,143,202,116,86,144

有配偶人口のデータフレーム準備

In [60]:
rows_to_read_3 = 1
MaritalStatus_df = pd.DataFrame()

for i in range(1, 22):
    tmp_df = pd.DataFrame()
    tmp_df = pd.read_excel('FEI_PREF_230720160448.xlsx', 
                            skiprows=6, nrows=rows_to_read_3, sheet_name=str(i), header=None,  
                            names=['地域コード', '地域', '', '5～9歳人口', '', '15～19歳人口（男）', '', '15～19歳人口（女）', '', '20～24歳人口（男）', '', '20～24歳人口（女）', '', '30～34歳人口（男）', '', '30～34歳人口（女）', '', '有配偶人口（15歳以上）（男）', '', '有配偶人口（15歳以上）（女）', '', '有配偶人口（20～24歳）（男）', '', '有配偶人口（20～24歳）（女）', '', '有配偶人口（25～29歳）（男）', '', '有配偶人口（25～29歳）（女）', '', '有配偶人口（30～34歳）（男）', '', '有配偶人口（30～34歳）（女）', '', '離別人口（15歳以上）（男）', '', 'A1604002_離別人口（15歳以上）（女）', '', 'A1604011_離別人口（15～19歳）（男）', '', '離別人口（15～19歳）（女）', '', '離別人口（20～24歳）（男）', '', '離別人口（20～24歳）（女）', '', '離別人口（25～29歳）（男）', '', '離別人口（25～29歳）（女）', '', '離別人口（30～34歳）（男）', '', '離別人口（30～34歳）（女）', ''])
    
    MaritalStatus_df = pd.concat([MaritalStatus_df, tmp_df], ignore_index=True)

years = list(range(2020, 1999, -1))
MaritalStatus_df['年度'] = years

MaritalStatus_df = MaritalStatus_df.iloc[::-1]  # インデックスを逆順にする
MaritalStatus_df.reset_index(drop=True, inplace=True)

MaritalStatus_df

c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,地域コード,地域,,5～9歳人口,.1,15～19歳人口（男）,.2,15～19歳人口（女）,.3,20～24歳人口（男）,...,.21,離別人口（25～29歳）（男）,.22,離別人口（25～29歳）（女）,.23,離別人口（30～34歳）（男）,.24,離別人口（30～34歳）（女）,.25,年度
0,11000,埼玉県,NaN,"338,965",NaN,"215,132",NaN,"203,531",NaN,"262,358",...,NaN,"2,544",NaN,"5,499",NaN,"5,081",NaN,"9,090",NaN,2000
1,11000,埼玉県,NaN,"340,000",NaN,"207,000",NaN,"194,000",NaN,"257,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
2,11000,埼玉県,NaN,"340,000",NaN,"200,000",NaN,"187,000",NaN,"250,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002
3,11000,埼玉県,NaN,"340,000",NaN,"196,000",NaN,"182,000",NaN,"240,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003
4,11000,埼玉県,NaN,"336,000",NaN,"191,000",NaN,"176,000",NaN,"230,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004
5,11000,埼玉県,NaN,"333,788",NaN,"189,256",NaN,"177,127",NaN,"224,751",...,NaN,"2,231",NaN,"4,649",NaN,"5,727",NaN,"11,678",NaN,2005
6,11000,埼玉県,NaN,"333,000",NaN,"185,000",NaN,"173,000",NaN,"224,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006
7,11000,埼玉県,NaN,"329,000",NaN,"183,000",NaN,"170,000",NaN,"221,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
8,11000,埼玉県,NaN,"326,000",NaN,"184,000",NaN,"170,000",NaN,"215,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008
9,11000,埼玉県,NaN,"320,000",NaN,"186,000",NaN,"172,000",NaN,"207,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
10,11000,埼玉県,NaN,"317,477",NaN,"183,477",NaN,"172,772",NaN,"201,811",...,NaN,"1,812",NaN,"4,199",NaN,"4,478",NaN,"8,546",NaN,2010
11,11000,埼玉県,NaN,"313,000",NaN,"181,000",NaN,"170,000",NaN,"204,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
12,11000,埼玉県,NaN,"310,000",NaN,"179,000",NaN,"170,000",NaN,"203,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
13,11000,埼玉県,NaN,"308,000",NaN,"179,000",NaN,"170,000",NaN,"199,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
14,11000,埼玉県,NaN,"306,000",NaN,"178,000",NaN,"169,000",NaN,"197,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
15,11000,埼玉県,NaN,"306,037",NaN,"181,378",NaN,"171,397",NaN,"192,837",...,NaN,"1,343",NaN,"3,110",NaN,"3,603",NaN,"7,097",NaN,2015
16,11000,埼玉県,NaN,"306,000",NaN,"180,000",NaN,"170,000",NaN,"202,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
17,11000,埼玉県,NaN,"303,000",NaN,"178,000",NaN,"168,000",NaN,"207,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
18,11000,埼玉県,NaN,"299,000",NaN,"176,000",NaN,"166,000",NaN,"210,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
19,11000,埼玉県,NaN,"295,000",NaN,"174,000",NaN,"165,000",NaN,"212,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
20,11000,埼玉県,NaN,"291,527",NaN,"167,107",NaN,"158,984",NaN,"186,022",...,NaN,"1,173",NaN,"2,735",NaN,"2,734",NaN,"5,921",NaN,2020

重回帰分析の実行

In [61]:
target_year = pd.DataFrame(list(range(2000, 2021, 5)))
target_year.rename(columns={0: '年度'}, inplace=True)
target_year

     年度
0  2000
1  2005
2  2010
3  2015
4  2020

In [69]:
# 就業率（説明変数）
target_age = ['20～24歳', '25～29歳', '30～34歳']


EmploymentRate_woman_df = Employment_woman_df[Employment_woman_df['年度'].isin(target_year['年度'])]
EmploymentRate_woman_df = EmploymentRate_woman_df[target_age]
EmploymentRate_woman_df.columns = ['20～24歳（女）', '25～29歳（女）', '30～34歳（女）']
EmploymentRate_woman_df.reset_index(drop=True, inplace=True)

EmploymentRate_man_df = Employment_man_df[Employment_man_df['年度'].isin(target_year['年度'])]
EmploymentRate_man_df = EmploymentRate_man_df[target_age]
EmploymentRate_man_df.columns = ['20～24歳（男）', '25～29歳（男）', '30～34歳（男）']
EmploymentRate_man_df.reset_index(drop=True, inplace=True)

# 有配偶率
target_woman = ['有配偶人口（' + item + '）（女）' for item in target_age]
MaritalStatus_woman_df = MaritalStatus_df[MaritalStatus_df['年度'].isin(target_year['年度'])]
MaritalStatus_woman_df = MaritalStatus_woman_df[target_woman]
MaritalStatus_woman_df.reset_index(drop=True, inplace=True)

target_man = ['有配偶人口（' + item + '）（男）' for item in target_age]
MaritalStatus_man_df = MaritalStatus_df[MaritalStatus_df['年度'].isin(target_year['年度'])]
MaritalStatus_man_df = MaritalStatus_man_df[target_man]
MaritalStatus_man_df.reset_index(drop=True, inplace=True)

# 出生数（目的変数）
BirthRate_df = Population_df[Population_df['年度'].isin(target_year['年度'])]
BirthRate_df = BirthRate_df['出生数']
BirthRate_df.reset_index(drop=True, inplace=True)

BirthRate_df

0    66,376
1    59,731
2    59,437
3    56,077
4    47,328
Name: 出生数, dtype: object

In [70]:
def convert_to_float(value):
    try:
        return float(value.replace(',', ''))
    except:
        return value

In [71]:
x = pd.concat([target_year, MaritalStatus_man_df, MaritalStatus_woman_df, EmploymentRate_woman_df, EmploymentRate_man_df], axis=1)

x = x.applymap(convert_to_float)
y = BirthRate_df.str.replace(',', '').astype(float)
x

,年度,有配偶人口（20～24歳）（男）,有配偶人口（25～29歳）（男）,有配偶人口（30～34歳）（男）,有配偶人口（20～24歳）（女）,有配偶人口（25～29歳）（女）,有配偶人口（30～34歳）（女）,20～24歳（女）,25～29歳（女）,30～34歳（女）,20～24歳（男）,25～29歳（男）,30～34歳（男）
0,2000,14406.0,85832.0,151837.0,25033.0,125458.0,183090.0,73,95,67,75,144,135
1,2005,12032.0,62788.0,150609.0,20243.0,88373.0,182875.0,63,88,81,62,119,143
2,2010,9086.0,53315.0,120243.0,16012.0,74488.0,145191.0,55,82,77,53,103,120
3,2015,7043.0,44578.0,103357.0,12209.0,61786.0,126373.0,59,80,78,58,98,111
4,2020,6677.0,42465.0,91698.0,10988.0,58456.0,110493.0,75,90,79,73,104,103

In [72]:
# 重回帰分析を実施、独立変数間の分散拡大要因を確認後、分析結果を出力
x_added_constant = sm.add_constant(x)
model = sm.OLS(y, x_added_constant)
num_cols = model.exog.shape[1] # 説明変数の列数
vifs = [vif(model.exog, i) for i in range(0, num_cols)]
print(pd.DataFrame(vifs, index=model.exog_names, columns=['VIF']))
result = model.fit()
print(result.summary())

                  VIF
const             0.0
年度                inf
有配偶人口（20～24歳）（男）  inf
有配偶人口（25～29歳）（男）  inf
有配偶人口（30～34歳）（男）  inf
有配偶人口（20～24歳）（女）  inf
有配偶人口（25～29歳）（女）  inf
有配偶人口（30～34歳）（女）  inf
20～24歳（女）         inf
25～29歳（女）         inf
30～34歳（女）         inf
20～24歳（男）         inf
25～29歳（男）         inf
30～34歳（男）         inf
                            OLS Regression Results
==============================================================================
Dep. Variable:                    出生数   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Fri, 21 Jul 2023   Prob (F-statistic):                nan
Time:                        12:28:19   Log-Likelihood:                 99.690
No. Observations:                   5   AIC:                            -189.4
Df Residuals:                       0   BIC:                            -191.3
Df Model:                           4
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                0.0009        inf          0        nan         nan         nan
年度                   1.7649        inf          0        nan         nan         nan
有配偶人口（20～24歳）（男）   -15.3894        inf         -0        nan         nan         nan
有配偶人口（25～29歳）（男）     1.9678        inf          0        nan         nan         nan
有配偶人口（30～34歳）（男）     0.3023        inf          0        nan         nan         nan
有配偶人口（20～24歳）（女）     4.2339        inf          0        nan         nan         nan
有配偶人口（25～29歳）（女）    -0.6158        inf         -0        nan         nan         nan
有配偶人口（30～34歳）（女）     0.2248        inf          0        nan         nan         nan
20～24歳（女）           -0.4860        inf         -0        nan         nan         nan
25～29歳（女）           -0.2231        inf         -0        nan         nan         nan
30～34歳（女）           -0.0211        inf         -0        nan         nan         nan
20～24歳（男）           -0.5016        inf         -0        nan         nan         nan
25～29歳（男）           -0.2881        inf         -0        nan         nan         nan
30～34歳（男）           -0.0282        inf         -0        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   0.670
Prob(Omnibus):                    nan   Jarque-Bera (JB):                1.802
Skew:                          -1.467   Prob(JB):                        0.406
Kurtosis:                       3.206   Cond. No.                     1.37e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The input rank is higher than the number of observations.
[3] The condition number is large, 1.37e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

c:\Users\human\DataScience_FEA\venv\Lib\site-packages\statsmodels\regression\linear_model.py:1781: RuntimeWarning: divide by zero encountered in scalar divide
  return 1 - self.ssr/self.centered_tss
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\statsmodels\stats\outliers_influence.py:198: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\statsmodels\stats\stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 5 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\statsmodels\regression\linear_model.py:1794: RuntimeWarning: divide by zero encountered in divide
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\statsmodels\regression\linear_model.py:1794: RuntimeWarning: invalid value encountered in scalar multiply
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\statsmodels\regression\linear_model.py:1716: RuntimeWarning: divide by zero encountered in scalar divide
  return np.dot(wresid, wresid) / self.df_resid

VIFが高いコラムをドロップして重回帰分析

In [73]:
# 就業率（説明変数）
target_age = ['20～24歳', '25～29歳']


EmploymentRate_woman_df = Employment_woman_df[Employment_woman_df['年度'].isin(target_year['年度'])]
EmploymentRate_woman_df = EmploymentRate_woman_df[target_age]
EmploymentRate_woman_df.columns = ['20～24歳（女）', '25～29歳（女）']
EmploymentRate_woman_df.reset_index(drop=True, inplace=True)

EmploymentRate_man_df = Employment_man_df[Employment_man_df['年度'].isin(target_year['年度'])]
EmploymentRate_man_df = EmploymentRate_man_df[target_age]
EmploymentRate_man_df.columns = ['20～24歳（男）', '25～29歳（男）']
EmploymentRate_man_df.reset_index(drop=True, inplace=True)

# 有配偶率
target_woman = ['有配偶人口（' + item + '）（女）' for item in target_age]
MaritalStatus_woman_df = MaritalStatus_df[MaritalStatus_df['年度'].isin(target_year['年度'])]
MaritalStatus_woman_df = MaritalStatus_woman_df[target_woman]
MaritalStatus_woman_df.reset_index(drop=True, inplace=True)

target_man = ['有配偶人口（' + item + '）（男）' for item in target_age]
MaritalStatus_man_df = MaritalStatus_df[MaritalStatus_df['年度'].isin(target_year['年度'])]
MaritalStatus_man_df = MaritalStatus_man_df[target_man]
MaritalStatus_man_df.reset_index(drop=True, inplace=True)

# 出生数（目的変数）
BirthRate_df = Population_df[Population_df['年度'].isin(target_year['年度'])]
BirthRate_df = BirthRate_df['出生数']
BirthRate_df.reset_index(drop=True, inplace=True)

BirthRate_df

0    66,376
1    59,731
2    59,437
3    56,077
4    47,328
Name: 出生数, dtype: object

In [76]:
x = pd.concat([MaritalStatus_man_df, MaritalStatus_woman_df, EmploymentRate_woman_df, EmploymentRate_man_df], axis=1)

x = x.applymap(convert_to_float)
y = BirthRate_df.str.replace(',', '').astype(float)
x

,有配偶人口（20～24歳）（男）,有配偶人口（25～29歳）（男）,有配偶人口（20～24歳）（女）,有配偶人口（25～29歳）（女）,20～24歳（女）,25～29歳（女）,20～24歳（男）,25～29歳（男）
0,14406.0,85832.0,25033.0,125458.0,73,95,75,144
1,12032.0,62788.0,20243.0,88373.0,63,88,62,119
2,9086.0,53315.0,16012.0,74488.0,55,82,53,103
3,7043.0,44578.0,12209.0,61786.0,59,80,58,98
4,6677.0,42465.0,10988.0,58456.0,75,90,73,104

In [77]:
# 重回帰分析を実施、独立変数間の分散拡大要因を確認後、分析結果を出力
x_added_constant = sm.add_constant(x)
model = sm.OLS(y, x_added_constant)
num_cols = model.exog.shape[1] # 説明変数の列数
vifs = [vif(model.exog, i) for i in range(0, num_cols)]
print(pd.DataFrame(vifs, index=model.exog_names, columns=['VIF']))
result = model.fit()
print(result.summary())

                  VIF
const             0.0
有配偶人口（20～24歳）（男）  inf
有配偶人口（25～29歳）（男）  inf
有配偶人口（20～24歳）（女）  inf
有配偶人口（25～29歳）（女）  inf
20～24歳（女）         inf
25～29歳（女）         inf
20～24歳（男）         inf
25～29歳（男）         inf
                            OLS Regression Results
==============================================================================
Dep. Variable:                    出生数   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Fri, 21 Jul 2023   Prob (F-statistic):                nan
Time:                        12:29:55   Log-Likelihood:                 98.286
No. Observations:                   5   AIC:                            -186.6
Df Residuals:                       0   BIC:                            -188.5
Df Model:                           4
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                9.7117        inf          0        nan         nan         nan
有配偶人口（20～24歳）（男）    26.4111        inf          0        nan         nan         nan
有配偶人口（25～29歳）（男）    28.7392        inf          0        nan         nan         nan
有配偶人口（20～24歳）（女）   -30.5230        inf         -0        nan         nan         nan
有配偶人口（25～29歳）（女）   -15.0406        inf         -0        nan         nan         nan
20～24歳（女）         -811.2286        inf         -0        nan         nan         nan
25～29歳（女）         -634.2986        inf         -0        nan         nan         nan
20～24歳（男）         -501.6503        inf         -0        nan         nan         nan
25～29歳（男）          189.5139        inf          0        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   0.712
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.109
Skew:                          -0.193   Prob(JB):                        0.947
Kurtosis:                       2.389   Cond. No.                     7.68e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The input rank is higher than the number of observations.
[3] The condition number is large, 7.68e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

c:\Users\human\DataScience_FEA\venv\Lib\site-packages\statsmodels\regression\linear_model.py:1781: RuntimeWarning: divide by zero encountered in scalar divide
  return 1 - self.ssr/self.centered_tss
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\statsmodels\stats\outliers_influence.py:198: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\statsmodels\stats\stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 5 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\statsmodels\regression\linear_model.py:1794: RuntimeWarning: divide by zero encountered in divide
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\statsmodels\regression\linear_model.py:1794: RuntimeWarning: invalid value encountered in scalar multiply
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
c:\Users\human\DataScience_FEA\venv\Lib\site-packages\statsmodels\regression\linear_model.py:1716: RuntimeWarning: divide by zero encountered in scalar divide
  return np.dot(wresid, wresid) / self.df_resid